h3 {
    color: red;
}

img {
    width: 95%;
    
}
.main{
    margin: 0 auto;
    display: flex;
    max-width: 1300px ;
    
    
}


.menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
    border-bottom: 2px solid gray;
}

.menu__item{
    padding-bottom: 20px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 300;

}

.menu__item:hover{
    color:rgb(79, 78, 78);
}

.wrapper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    outline: 1px solid red;
    width: 300px;
}

.content{
    outline: 1px solid rgb(30, 174, 5);
    width: 1000px;
}






















